In [10]:
# Libraries to extract metadata descriptions from XML data
import xml.etree.ElementTree as ET
import urllib.request

# Libraries for data analysis
import pandas as pd
import numpy as np
import csv

# Custom variables
import config

**Step 1:** Read the CSV file with XML path data for the Newcastle University Special Collections archival catalog.

In [20]:
df_xml = pd.read_csv(config.xml_paths)
row_count = df_xml.shape[0]
col_count = df_xml.shape[1]
print("rows:",row_count, "| columns:",col_count)
df_xml.head(3)

rows: 11 | columns: 3

,collection_name,xml_path,xml_format
0,Bloodaxe Books Archive,https://specialcollections.ncl.ac.uk/downloads...,EAD
1,Bell (Gertrude) Archive,https://gertrudebell.ncl.ac.uk/export/,custom
2,Hill (Selima) Archive,https://specialcollections.ncl.ac.uk/downloads...,EAD

In [28]:
ead_xml_paths = [df_xml.iloc[i,1] for i in range(0,row_count) if df_xml.iloc[i,2] == "EAD"]
other_xml_paths = [df_xml.iloc[i,1] for i in range(0,row_count) if df_xml.iloc[i,2] != "EAD"] 
assert(ead_xml_paths[0] == df_xml.iloc[0,1]), "The first EAD XML list value should be the first XML path in the DataFrame."
assert(other_xml_paths[0] == df_xml.iloc[1,1]), "There should only be one non-EAD XML path, that of the Bell Archive."
print(ead_xml_paths[0])
print(other_xml_paths[0])

https://specialcollections.ncl.ac.uk/downloads/exports/ead/2000f6325dfc4fc3201fc45ed01c7a5d.ead.xml
https://gertrudebell.ncl.ac.uk/export/

In [29]:
xml_path = ead_xml_paths[0]

Parse the XML data:

In [30]:
content = urllib.request.urlopen(xml_path)
xmlTree = ET.parse(content)

Extract the descriptive text in the metadata fields listed below from the XML data.

For each collection, extract the:
* EADID: `<eadid>`

At all levels of the archival hierarchy, from the collection overall (i.e., `<archdesc>`) down to the item level (e.g., `<c level="...">` (e.g., "subfonds," "subseries," "file," "item"), extract the:
* Title: `<unittitle>`
* Identifier: `<unitid>`
* Date (of material?): `<unitdate>`
* Language of material: `<langmaterial>`
* Biographical / Historical: `<bioghist>`
* Scope and Contents: `<scopecontent>`
* Processing Information: `<processinfo>`

We'll store the extracted data in a DataFrame.

In [38]:
root = xmlTree.getroot()
print(root[0][0].tag, root[0][0].text, root[1].tag, root[1][0].tag)

eadid BXB archdesc did

In [34]:
level_tags = [
    "archdesc", "c"
]
metadata_field_tags = [
    "unittitle", "unitid", "unitdate", "langmaterial", 
    "bioghist", "scopecontent", "processinfo"
]
eadids, levels, titles, ids, dates, langmaterials = [], [], [], [], [], []
bioghists, scopecontents, processinfos = [], [], []

In [ ]:
for child in root.iter():
    tag = child.tag
    if tag == level_tags[0]

In [ ]:
metadata_df = pd.DataFrame.from_dict({
    "eadid": eadids, "level": levels, "unittitle": titles, "unitid": ids, 
    "unitdate": dates, "langmaterial":, langmaterials, "bioghist": bioghists, 
    "scopecontent": scopecontents, "processinfo": processinfos
})